/* You can add global styles to this file, and also import other style files */
@import url(./lib/bootstrap/css/bootstrap.min.css);
body {
    background-color:#1a1a1ae3;
}
.main-body{
    font-family: 'Times New Roman', Times, serif;
    flex-direction: column;
    width: 100%;
    display: flex;
    color: white;
}
.title-banner{
    background-color: #592d83;
    height: 80px;
    padding-top: 10px;  
    width: 100%;
}
.subBody1{
    width:50%;
}
#pageNotFound{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
}

/*to do list css*/
#toDoList .taskBox{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border : 1px solid white;
    width : 80%;
    padding-left : 2%;
    padding-right : 2%;
}
#toDoList .taskBox .task{
    border : 1px solid white;
}
#toDoList .taskBox .deleteTask{
 background-color: rgba(251, 72, 72, 0.829);
}
#toDoList .taskBox .deleteTask:hover{
    background-color: rgba(251, 105, 105, 0.986);
}
