/* You can add global styles to this file, and also import other style files */
@import url(./lib/bootstrap/css/bootstrap.min.css);
body {
    background-color:#1a1a1ae3;
}
.main-body{
    font-family: 'Times New Roman', Times, serif;
    flex-direction: column;
    width: 100%;
    display: flex;
    color: white;
}
.title-banner{
    background-color: #592d83;
    height: 80px;
    padding-top: 10px;  
    width: 100%;
}
.subBody1{
    width:50%;
}
#pageNotFound{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
}

/*to do list css*/
#toDoList .taskBox{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /*border : 1px solid white;*/
    width : 80%;
    padding-left : 2%;
    padding-right : 2%;
    margin-bottom: 10px;
    background-color: #575757;
}
#toDoList .taskBox:hover{
    background-color: #57575798;
}
#toDoList .selectedTaskBox{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /*border : 1px solid white;*/
    width : 80%;
    padding-left : 2%;
    padding-right : 2%;
    margin-bottom: 10px;
    background-color: #57575798;
}
#toDoList .task{
    height: auto;
    /*border : 1px solid white;*/
}

#toDoList  .deleteTask{
    background-color: rgba(251, 72, 72, 0.829);
    border-radius: 5px;
    height: 30px;
    width: 30px;
}
#toDoList .deleteTask:hover{
    background-color: #fb69698a;
}

#toDoList .checkTask{
    background-color: #a0f55ad3;
    border-radius: 5px;
    margin-right: 10%;
    height: 30px;
    width: 30px;
}
#toDoList .checkTask:hover{
    background-color: #a0f55a75;
}
#toDoList .unCheckTask{
    background-color: #f5d33d;
    border-radius: 5px;
    margin-right: 10%;
    height: 30px;
    width: 30px;
}
#toDoList .unCheckTask:hover{
    background-color: #f5d33d8a
}
.check{
    text-decoration: line-through;
}
.page-body{
    width:70%;
}
h3{
    color:antiquewhite;
}
th{
}