<div>
    <div class="main-body d-flex flex-column align-items-center">  
        <h2 class="title-banner fs-2">Features</h2>
        <div class="table-responsive" >
            <table class="table" style="color:white;">
                <thead class="thead-dark">
                    <tr>
                      <th scope="col">Version</th>
                      <th scope="col">Feature</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>V0</th>
                      <th>ajoue de la navigation</th>
                    </tr>
                    <tr>
                        <th>V1</th>
                        <th>ajoue du to-do list, about et home</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>  