<div>
    <div class="main-body d-flex flex-column align-items-center">  
        <h2 class="title-banner fs-2">About</h2>
        <div class="page-body">
            <p style="font-size: 20px;">projet Organisation Management Software copyright 2021</p>
            <h3>Motivation</h3>
            <ul style="font-size: 20px;">
                <li>apprentissage</li>
                <li>fun</li>
            </ul>
            <h3>Critere d'evaluation</h3>
            <ol style="font-size: 20px;">
                <li>Être structuré en utilisant des flexbox</li>
                <li>Utiliser les styles css pour avoir, à minima, des titres (<strong>h1</strong> et/ou <strong>h2</strong> et/ou <strong>h3</strong>) personnalisés</li>
                <li>Posséder au moins une liste à puce</li>
                <li>Posséder au moins une liste numérotée</li>
                <li>Présenter au moins 2 images, dont une cliquable (utiliser imgbb.com pour stocker)</li>
                <li>Avoir au moins 2 liens hypertextes</li>
                <li>Avoir quelques mots importants surlignés</li>
                <li>Représenter certaines informations sous forme d’un tableau à 2 dimensions</li>
                <li>Permettre une visualisation dite “responsive”</li>
                <li>Avoir du code CSS bien écrit</li>
                <li>Avoir du code JavaScript ou TypeScript bien écrit et commenté</li>
                <li>Ne pas avoir copié/coller le projet à partir d’internet ! Tous vos projets seront testés à l’aide d’outils anti-plagiat.</li>
                <li>Ces 12 points seront notés sur 10. Les 10 points restants permettant de juger entre autres, le rendu visuel du projet, la qualité du code produit, l’originalité du travail, l’implication dans les TPs, etc.</li>
            </ol>
                
            <p><strong><em>EXAMEN ECRIT en présentiel</em></strong></p>
               
            <p>Notez bien que vous aurez également un examen écrit d’1 heure en même temps que l’examen de M Bounceur (voir ADE pour la date).</p>            
        </div>
    </div>
</div>  